<h1>Convert <%= @first_country %> to <%= @second_country %></h1>

<div>
  <p>
    1 <%= @first_country %> equals <%= @rate%> <%= @second_country%>.
  </p>
</div>

<div>
  <p>
    Go <a href="/<%= @first_country %>">back</a>.
  </p>
</div>
